* {
 box-sizing: border-box;
}

body {
  background-color: #232946;
  color: #b8c1ec;
  padding: 0;
  margin: 0;
}

a {
  color: #b8c1ec;
}

p {
  margin: 0;
}

.nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.nav-title {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 35px;
  text-decoration: underline;
}

.root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pre-game-container {
  display: flex;
  justify-content: center;
}

.pre-game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pre-game-title {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.previous-score {
  font-size: 14px;
  display: flex;
}

.pre-score-label {
  font-family: 'Titillium Web', sans-serif;
  color: white;
}
 
.pre-score {
  margin-left: .5rem;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
  /* max-height: 390px; */
  margin-top: 1rem;
}

.credits {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 11px;
}

.question-text-container {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.timer-cotainer {
  margin-top: 1rem;
  text-align: center;
}

.timer-text {
  font-family: 'Dosis', sans-serif;
  color: white;
}

.timer-numbers {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.question-text {
  font-family: 'Dosis', sans-serif;
  color: white;
  margin-bottom: 0;
}

.question-card {
  width: 43rem;
  border: white 2px solid;
  border-radius: 15px;
}

.question-answers {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.start-button {
  align-items: center;
  background-color: #eebbc3;
  border: 2px solid #121629;
  border-radius: 8px;
  box-sizing: border-box;
  color: #232946;
  cursor: pointer;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  height: 38px;
  justify-content: center;
  line-height: 24px;
  width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
}

.start-button:active {
  background-color: #ae888e;
  transform: translate(2px, 2px);
}

.rules-button {
  align-items: center;
  background-color: #eebbc3;
  border: 2px solid #121629;
  border-radius: 8px;
  box-sizing: border-box;
  color: #232946;
  cursor: pointer;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  height: 38px;
  justify-content: center;
  line-height: 24px;
  width: 100%;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
}

.rules-button:active {
  background-color: #ae888e;
  transform: translate(2px, 2px);
}

.answer-button {
  align-items: center;
  background-color: #eebbc3;
  border: 2px solid #121629;
  border-radius: 8px;
  box-sizing: border-box;
  color: #232946;
  cursor: pointer;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  min-height: 68px;
  justify-content: center;
  /* line-height: 24px; */
  width: 100%;

  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next-button {
  align-items: center;
  background-color: #b8c1ec;
  border: 2px solid #121629;
  border-radius: 8px;
  box-sizing: border-box;
  color: #232946;
  cursor: pointer;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: auto;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 35%;
  padding: 0 25px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.next-button-disabled {
  align-items: center;
  background-color: #c9c9ca;
  border: 2px solid #121629;
  border-radius: 8px;
  box-sizing: border-box;
  color: #797979;
  cursor: pointer;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  font-size: auto;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 35%;
  padding: 0 25px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.tracker {
  display: flex;
}

.tracker > div > p {
  font-family: 'Dosis', sans-serif;
}

.tracker-label {
  font-family: 'Dosis', sans-serif;
}

.question-card-footer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rules-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  background-color: #00000070;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}

.rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #b8c1ec;
  border: #6e738f solid 2px;
  border-radius: 10px;
  width: 400px;

}

.rules-title {
  color: #232946;
  font-family: 'Dosis', sans-serif;
}

.rules-text-container {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.rules-text {
  color: #232946;
  font-family: 'Titillium Web', sans-serif;
  margin-top: .5rem;
}

.tracker-number {
  margin-left: .5rem;
  margin-right: .5rem;
}

.buttons {
  display: flex;
}

.buttons > button {
  margin-left: .25rem;
  margin-right: .25rem;
}

@media (max-width: 661px) {
  .answer-button {
    font-size: 12px;
  }
}

@media (max-width: 501px) {
  .answer-button {
    height: auto;
    font-size: 12px;
  }
}

@media (max-width: 351px) {
  .rules {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #b8c1ec;
    border: #6e738f solid 2px;
    border-radius: 10px;
    width: 300px;
  }

  .question-card {
    width: 400px;
  }

  .question-text {
    font-size: 20px;
  }

  .answer-button {
    height: auto;
    font-size: 11px;
  }
}